.App {
  text-align: center;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movieComp {
  margin: 20px;
  border: 2px solid rgb(207, 206, 206);
  /* height: 700px; */
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  max-height: 700px;
}

.movieName {
  display: flex;
  justify-content: space-between;
}

.moviePoster {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.movieSummary {
  font-size: 12px;
}

.iconButton {
  color: gold;
}

.movie-rating {
  padding-top: 10px;
}

ul > li {
  list-style-type: none;
  text-align: left;
}

.trailer {
  margin: 10px;
}

.movieDetail-info {
  display: flex;
  justify-content: space-between;
}

.movie-info > p {
  text-align: left;
}

.movie-action {
  display: flex;
}

ul > li {
  display: inline-block;
  margin: 30px;
  text-decoration: none;
}

.paper {
  min-height: 100vh;
}
